{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
    <h3>{{ team.name }}<small> - {{ team.money|money }}</small></h3>
    <div class="row">
        <div class="large-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'team.manager'|trans }}</th>
                        <th>{{ 'team.trainer'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% if team.hasManager %}<a href="{{ path('profile_manager', { 'id': team.manager.id } ) }}">{{ team.manager.name }}</a>{% else %}-{% endif %}</td>
                        <td>{% if team.hasTrainer %}<a href="{{ path('profile_trainer', { 'id': team.trainer.id } ) }}">{{ team.trainer.name }}</a>{% else %}-{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'transfer.season'|trans }}</th>
                        <th>{{ 'transfer.player'|trans }}</th>
                        <th>{{ 'transfer.team_origin'|trans }}</th>
                        <th>{{ 'transfer.amount'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
{% for transfer in team.transfersIncoming %}
                    <tr>
                        <td>{{ transfer.season }}</td>
                        <td>{{ transfer.player|playerLink }}</td>
                        <td>{{ transfer.originTeam|teamLink }}</td>
                        <td>{{ transfer.amount|money }}</td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
        <div class="large-6 columns">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'transfer.season'|trans }}</th>
                        <th>{{ 'transfer.player'|trans }}</th>
                        <th>{{ 'transfer.team_target'|trans }}</th>
                        <th>{{ 'transfer.amount'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
{% for transfer in team.transfersOutgoing %}
                    <tr>
                        <td>{{ transfer.season }}</td>
                        <td>{{ transfer.player|playerLink }}</td>
                        <td>{{ transfer.targetTeam|teamLink }}</td>
                        <td>{{ transfer.amount|money }}</td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'team.player.name'|trans }}</th>
                        <th>{{ 'skill.tackling'|trans }}</th>
                        <th>{{ 'skill.passing'|trans }}</th>
                        <th>{{ 'skill.shooting'|trans }}</th>
                        <th>{{ 'skill.heading'|trans }}</th>
                        <th>{{ 'skill.speed'|trans }}</th>
                        <th>{{ 'skill.crossing'|trans }}</th>
                        <th>{{ 'skill.technics'|trans }}</th>
                        <th>{{ 'skill.intelligence'|trans }}</th>
                        <th>{{ 'skill.safety'|trans }}</th>
                        <th>{{ 'skill.dribbling'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in team.players %}
                    <tr class="{% if app.user and app.user.player.equals(player) %}own{% endif %}">
                        <td>{{ player|playerLink }}</td>
                        <td>{{ player.skills.tackling }}</td>
                        <td>{{ player.skills.passing }}</td>
                        <td>{{ player.skills.shooting }}</td>
                        <td>{{ player.skills.heading }}</td>
                        <td>{{ player.skills.speed }}</td>
                        <td>{{ player.skills.crossing }}</td>
                        <td>{{ player.skills.technics }}</td>
                        <td>{{ player.skills.intelligence }}</td>
                        <td>{{ player.skills.safety }}</td>
                        <td>{{ player.skills.dribbling }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'season'|trans }}</th>
                        <th>{{ 'position'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for finalPosition in team.finalPositions %}
                    <tr>
                        <td>{{ finalPosition.season }}</td>
                        <td>{{ finalPosition.position }}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
