{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
    <h3>{{ trainer.name }}<small> - <a href="{{ path('profile_team', { 'id': trainer.team.id } ) }}">{{ trainer.team.name }}</a></small></h3>
    <table>
        <thead>
            <tr>
                <th>{{ 'trainer.preferred_training.label'|trans }}</th>
                <th>{{ 'trainer.skill.label'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ ('trainer.preferred_training.'~trainer.preferredTraining)|trans }}</td>
                <td>{{ trainer.skill }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
