<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Open Soccer Star{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
            {% stylesheets '@CoreBundle/Resources/public/css/*.scss' output='/css/core.css' filter='?yui_css,compass' %}
        <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/bmatznermodernizr/js/modernizr.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/vendor/fastclick.js') }}"></script>
            <script type="text/javascript">$(document).foundation();</script>
        {% endblock %}
        {% include '::tracking.html.twig' %}
    </body>
</html>
