{% extends 'LeagueBundle::layout.html.twig' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>{{ 'fixtures.team_home'|trans }}</th>
            <th>{{ 'fixtures.team_away'|trans }}</th>
            <th>{{ 'fixtures.score'|trans }}</th>
        </tr>
        </thead>
        <tbody>
    {% for fixture in fixtures %}
        {% if week is not defined or week != fixture.week %}
            {% set week = fixture.week %}
            <tr>
                <td colspan="3">{{ 'fixtures.week'|trans({ '%week%': week }) }}</td>
            </tr>
        {% endif %}
            <tr class="{% if app.user and (app.user.player.team.equals(fixture.teamHome) or app.user.player.team.equals(fixture.teamAway)) %}own{% endif %}">
                <td><a href="{{ path('profile_team', { 'id': fixture.teamHome.id } ) }}">{{ fixture.teamHome.name }}</a></td>
                <td><a href="{{ path('profile_team', { 'id': fixture.teamAway.id } ) }}">{{ fixture.teamAway.name }}</a></td>
                <td><a href="{{ path('fixture', { 'id': fixture.id } ) }}">{{ fixture.scoreHome }} : {{ fixture.scoreAway }}</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
