{% extends 'LeagueBundle::layout.html.twig' %}

{% block content %}
    <h3>{{ team.name }}</h3>
    <table>
        <thead>
            <tr>
                <th>{{ 'team.player.name'|trans }}</th>
                <th>{{ 'player.skill.defense'|trans }}</th>
                <th>{{ 'player.skill.offense'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for player in team.players %}
            <tr class="{% if app.user and app.user.player.equals(player) %}own{% endif %}">
                <td><a href="{{ path('profile_player', { 'id': player.id } ) }}">{{ player.name }}</a></td>
                <td>{{ player.skillDefense }}</td>
                <td>{{ player.skillOffense }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
