{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
<h3>{{ fixture.teamHome.name }} - {{ fixture.teamAway.name }}</h3>
<table>
    <thead>
        <tr>
            <th>{{ fixture.teamHome.name }}</th>
            <th>{{ fixture.teamAway.name }}</th>
        </tr>
    </thead>
    <tbody>
{% for i in 1..11 %}
        <tr>
            <td><a href="{{ path('profile_player', { 'id': fixture.lineupHome.player(i).id } ) }}">{{ fixture.lineupHome.player(i).name }}</a></td>
            <td><a href="{{ path('profile_player', { 'id': fixture.lineupAway.player(i).id } ) }}">{{ fixture.lineupAway.player(i).name }}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>{{ 'fixture.player'|trans }}</th>
            <th>{{ 'fixture.event'|trans }}</th>
            <th>{{ 'fixture.minute'|trans }}</th>
            <th>{{ 'fixture.event'|trans }}</th>
            <th>{{ 'fixture.player'|trans }}</th>
        </tr>
    </thead>
{% for event in fixture.events %}
    <tr class="{% if app.user and app.user.player.equals(event.player) %}own{% endif %}">
        <td>{% if event.team.equals(fixture.teamHome) %}<a href="{{ path('profile_player', { 'id': event.player.id } ) }}">{{ event.player.name }}</a>{% endif %}</td>
        <td>{% if event.team.equals(fixture.teamHome) %}{{ event.type }}{% endif %}</td>
        <td>{{ event.minute }}.</td>
        <td>{% if event.team.equals(fixture.teamAway) %}{{ event.type }}{% endif %}</td>
        <td>{% if event.team.equals(fixture.teamAway) %}<a href="{{ path('profile_player', { 'id': event.player.id } ) }}">{{ event.player.name }}</a>{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
