{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
<h3>{{ fixture.teamHome.name }} - {{ fixture.teamAway.name }}</h3>
<table>
    <thead>
        <tr>
            <th>{{ fixture.teamHome.name }}</th>
            <th>{{ fixture.teamAway.name }}</th>
        </tr>
    </thead>
    <tbody>
{% for i in 1..11 %}
        <tr>
            <td>{{ fixture.lineupHome.player(i)|playerLink }}</td>
            <td>{{ fixture.lineupAway.player(i)|playerLink }}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>{{ 'fixture.player'|trans }}</th>
            <th>{{ 'fixture.event'|trans }}</th>
            <th>{{ 'fixture.minute'|trans }}</th>
            <th>{{ 'fixture.event'|trans }}</th>
            <th>{{ 'fixture.player'|trans }}</th>
        </tr>
    </thead>
{% for event in fixture.events %}
    <tr class="{% if app.user and app.user.player.equals(event.player) %}own{% endif %}">
        <td>{% if event.team.equals(fixture.teamHome) %}{{ event.player|playerLink }}{% endif %}</td>
        <td>{% if event.team.equals(fixture.teamHome) %}{{ event.type }}{% endif %}</td>
        <td>{{ event.minute }}.</td>
        <td>{% if event.team.equals(fixture.teamAway) %}{{ event.type }}{% endif %}</td>
        <td>{% if event.team.equals(fixture.teamAway) %}{{ event.player|playerLink }}{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
