{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th></th>
            <th>{{ 'scorer.player'|trans }}</th>
            <th>{{ 'scorer.team'|trans }}</th>
            <th>{{ 'scorer.goals'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for position,scorer in scorerList %}
            <tr class="{% if app.user and app.user.player.equals(scorer.player) %}own{% endif %}">
                <td>{{ position+1 }}.</td>
                <td>{{ scorer.player|playerLink }}</td>
                <td>{{ scorer.player.team|teamLink }}</td>
                <td>{{ scorer.goals }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
