<table>
    <thead>
    <tr>
        <th>{{ 'transfers.player'|trans }}</th>
        <th>{{ 'transfers.current_team'|trans }}</th>
        <th>{{ 'transfers.target_team'|trans }}</th>
        <th>{{ 'transfers.offer'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for transfer in transfers %}
        <tr>
            <td>{{ transfer.player|playerLink }}</td>
            <td>{{ transfer.originTeam|teamLink }}</td>
            <td>{{ transfer.targetTeam|teamLink }}</td>
            <td>{{ transfer.amount|money }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
